* {
    box-sizing: border-box;
  }
  
  .App {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .App > h1 {
    margin-bottom: 5px;
   
  }
  
  .App > h2 {
    /* margin-top: 5px; */
    opacity: 0.7;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .projects {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    border-radius: 5px;
    /* border:4px solid blue; */
    padding: 20px;
    margin: 10px;
    width: 20%;
    color: #333;
    flex-basis: width;
    background-color:rgb(204, 233, 250);
  }
  
  .project h3 {
    margin-bottom: 5px;
    font-size: 1rem;
    opacity: 0.7;
  }
  
  .project h2 {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  
  .details {
    text-align: left;
  }
.butt{
  justify-content: right;
  justify-items: right;
  text-align: right;
}
 