.mainHeader{
    /* height: 20%; */
    text-align: left;
    background-image: url(../images/headBack2.JPG);
    /* background-color: blue; */
    /* padding-top: 0%;
    margin-top: 0%; */
  }

  .mystyle{
    background-color: blue;
   }